@charset "UTF-8";
/* CSS Document */

body {width:auto; 
	  height:auto;
	  margin: 0px auto;
	  background-color: lavenderblush;
	  color: rgba(137,37,39,0.50);
	  font-family:'Sen', sans-serif;
	font-size: 14px;

}

header {width:650px;
		height:85px;
		margin-left: auto;
		margin-right: auto;
	    margin-bottom:20px; 
	    background-color:lavender; 
	    border: 8px dashed #FFA3D0;
	    border-radius: 7px; 
	    color:hotpink;
	    font-size:50px;
	    font-weight:bold; 
	    text-transform:uppercase; 
	    text-decoration: inherit;
	    line-height:1.4em; 
	    letter-spacing:.8em; 
	    text-align:center;
	    font-family: 'Sen', sans-serif;
	  
}

nav li {background-color:lavenderblush; 
        display:inline; 
  		list-style-type:none;
	    border: 2px solid rgba(0,0,0,1.00);
		margin-right:30px;
		margin-left: 30px;
	    margin-bottom:40px; 
		font-size: 25px;
		text-align: center
	
	
}


a:hover {color: hotpink;

}

a:active {color: lavender;

}



article {width:400px;

}

.right {width:510px;
	    float:right;
	   

}

.coding {width:500px;
	     float:right;
		 opacity:0.7;
}


.centered_image {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.column {
	float: left;
	width: 30%;
	padding: 0px;
  }
  

.row::after {
	content: "";
	clear: both;
	display: table;
  }